The review of trials found that a letter of invitation, mailed educational material, a phone call and some combined actions (such as a letter of invitation plus a phone call and training activities plus reminders) all seem to increase numbers of women participating. However it is not known which of these work better. Other interventions (such as a home visit) have not been proven to work.
