The review of trials attempted to cover all these. The authors identified 22 small trials involving 2676 people, with 19 of the trials taking place in resource-poor countries. Permethrin appeared to be the most effective topical treatment for scabies, and ivermectin appeared to be an effective oral treatment. However, ivermectin is unlicensed for this indication in many countries. Adverse events such as rash, vomiting, and abdominal pain were reported, but the trials were too small to properly assess serious but rare potential adverse effects. No trials of herbal or traditional medicines were identified for inclusion.
